<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Gallery</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<header>Your Gallery</header>

<main>
  <form id="uploadForm" action="/" method="post" enctype="multipart/form-data">
    <input type="file" name="file" id="fileInput" onchange="uploadImage()" />
    <div class="gallery">
      <div class="gallery-item add-photo" onclick="document.getElementById('fileInput').click();">+</div>
      {% for image in images %}
        <div class="gallery-item">
          <a href="{{ url_for('uploaded_file', filename=image) }}" target="_blank">
            <img src="{{ url_for('uploaded_file', filename=image) }}" alt="{{ image }}">
          </a>
        </div>
      {% endfor %}
    </div>
  </form>
</main>

<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>